<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="log-path">./logs/</Property>
    </Properties>
    <Appenders>
        <!-- Logs to a file, uses the DEBUG level -->
        <File name="ArchCnlLogFile" fileName="${log-path}ArchCnlLogFile.${date:yyyy-MM-dd_hh-mm-ss}.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        <!-- Logs to the console, uses the INFO level and displays less information -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] | %-5level- %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="STDOUT">
                <filters>
                    <!-- If the key verboseMode is set and its value is true, log down to TRACE level -->
                    <!-- If the key verboseMode is set and its value is not true, log down to INFO level -->
                    <DynamicThresholdFilter key="verboseMode" defaultThreshold="INFO" onMatch="ACCEPT" onMismatch="DENY">
                        <KeyValuePair key="true" value="TRACE"/>
                    </DynamicThresholdFilter>
                    <!-- If the key verboseMode is not set, log down to INFO level -->
                    <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
                </filters>
            </AppenderRef>
            <AppenderRef ref="ArchCnlLogFile">
                <filters>
                    <!-- If the key verboseMode is set and its value is true, log down to TRACE level -->
                    <!-- If the key verboseMode is set and its value is not true, log down to DEBUG level -->
                    <DynamicThresholdFilter key="verboseMode" defaultThreshold="DEBUG" onMatch="ACCEPT" onMismatch="DENY">
                        <KeyValuePair key="true" value="TRACE"/>
                    </DynamicThresholdFilter>
                    <!-- If the key verboseMode is not set, log down to DEBUG level -->
                    <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
                </filters>
            </AppenderRef>
        </Root>
    </Loggers>
</Configuration>
