@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

:root {
    --p-font-family-h: "Montserrat", sans-serif;
    --p-font-family: "Roboto", sans-serif;
    --p-font-weight-thin: 100;
    --p-font-weight-regular: 400;
    --p-font-weight-semibold: 600;
    --p-font-weight-bold: 700;
    --p-font-size-x-small: 0.75rem;
    --p-font-size-small: 1rem;
    --p-font-size-medium: 1.5rem;
    --p-font-size-large: 2.25rem;
}